.footerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    padding: 5vw 10vw;

    background-color: #121212;
    color: #B0B0B0;

    h1{
        color: white;
    }
}

.footerIcon{
    display: flex;
    justify-content: center;
    font-size: 4rem;    
    padding-left: 34px;


}