.carTransformationText {
    width: 30vw;
    max-width: 789px;
    padding: 50px;
    
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
}

.carTransformationImageContainer {
    width: 70vw;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;

    img {
        height: 70vh;
        object-fit: contain;
        object-position: center;

        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
        transition: filter 0.3s ease;

        /* add a shadow to the image */
        &:hover {
            filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.9));
        }
    }
}

.carTransformationContainer {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    
}

.textTransformation {
    word-wrap: break-word;

    h1 {
        overflow: hidden;
        font-size: 2.5rem;
        font-weight: 800;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }

    p{
        line-height: 60px;
    }
}

@media (max-width: 768px) {
    .carTransformationContainer{
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
    }

    .carTransformationText{
        width: 100vw;
    }

    .carTransformationImageContainer{
        width: 100vw;
    }
}