.character-detail {
    background-color: #121212;
}

.nameCharacter {
    width: 80vw;


    .name {

        background-color: rgb(209, 209, 209);
    }

    .name h1 {
        text-wrap: break-word;
        font-size: 5rem;
        font-weight: 800;
        overflow: hidden;
    }


    .imgCharacter {
        background-color: rgb(209, 209, 209);
    }
}

.imgCharacter {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* zoom and crop nicely */
        object-position: top center;
        /* adjust if needed to show the head */
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
        transition: filter 0.3s ease;
    }
}

.planetImg {
    width: 100%;
    /* container stretches to screen size */
    max-height: 600px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* make sure it covers the container */
        object-position: center;
        /* always focus the center */
        display: block;
    }
}

.planet {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    /* make sure the text is on top of the image */
    z-index: 1;

    justify-content: center;
    align-items: center;

}

.textDescPlanet {
    position: absolute;

    width: 80vw;
    bottom: 20px;
    /* you can adjust */
    left: 10vw;
    right: 20px;
    /* you can adjust */
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    padding: 30px;

}

.transformations > h2 {

    font-size: 3rem;
    font-weight: 800;
    color: white;
    padding: 10vw;
}

@media (max-width: 768px) {

    /* phone size */
    .textDescPlanet {
        position: relative;
        /* remove absolute */
        background: none;
        /* optional: remove background on mobile */
        color: white;
        /* optional: change text color on mobile */
        padding: 30px;
        width: 80vw;
        left: 10vw;
        top: 2vh;
        margin-bottom: 4vh;
    }
}

@media (min-width: 1248px) {

    .nameCharacter {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .name {
        width: 70%;
        height: 200px;
        padding: 30px 50px 30px 50px;
        background-color: blueviolet;
    }

    .imgCharacter {
        margin-left: -150px;
    }

}

@media (max-width: 1248px) {
    .headerCharacter {
        justify-items: center;
    }

    .nameCharacter {
        display: grid;
        grid-template-areas: "name" "imgCharacter";
        align-items: center;
        justify-items: center;

    }

    .name {
        grid-area: name;
        padding: 30px 50px 30px 50px;
        background-color: brown;
    }

    .imgCharacter {
        justify-content: center;

        align-items: center;
        grid-area: imgCharacter;
        margin: 50px;

    }
}

@media (min-width: 810px) {
    .headerCharacter {
        display: grid;
        grid-template-areas:
            "nameCharacter nameCharacter"
            "desCharacter infoCharacter";
        grid-template-columns: 60% 40%;

    }


    .desCharacter {
        grid-area: desCharacter;
        padding: 50px;
        background-color: #1E1E2F;
        color: #F1F5F9;
        margin-left: 10vw;
    }

    .infoCharacter {
        grid-area: infoCharacter;
        padding: 50px;
        color: #F1F5F9;
        margin-right: 10vw;
    }

    .nameCharacter {
        grid-area: nameCharacter;
        padding-top: 80px;
        padding-bottom: 80px;
    }


}

@media (max-width: 810px) {
    .headerCharacter {
        display: grid;
        grid-template-areas:
            "nameCharacter"
            "infoCharacter"
            "desCharacter";


    }


    .desCharacter {
        grid-area: desCharacter;
        padding: 50px;
        background-color: #1E1E2F;
        color: #F1F5F9;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .infoCharacter {
        grid-area: infoCharacter;
        padding: 50px;
        background-color: #1E1E2F;
        color: #F1F5F9;
        width: calc(100% - 20vw);
    }

    .nameCharacter {
        grid-area: nameCharacter;
        padding: 50px;
    }


}

.amarillo {
    background-color: #6B7280;
}

.azul {
    background-color: #4B5563;
    color: rgb(14, 13, 13);
}

.rojo {
    background-color: #2C2F48;
    color: aliceblue;
}

.naranja {
    background-color: #1E1E2F;
    color: #F1F5F9;
}

.verde {
    background-color: orange;

}

.morado {
    background-color: purple;
}

.rosa {
    background-color: pink;
}

.blanco {}