.imageContainer {
    padding: 4px;
    position: absolute;
    margin-top: -40px;
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
    }
}

.image {
    max-width: 345px;
    max-height: 500px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
    transition: filter 0.3s ease;

    &:hover {
        filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.9));
    }
}


.backContainer {
    margin-top: 200px;
    width: 360px;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}


.imgBack {
    max-width: 600px;
    max-height: auto;
    object-fit: scale-down;
    margin-left: -130px;
}

.contentContainer {
    position: relative;
    z-index: 2;
    margin-top: -150px;
    box-shadow: 0 8px 45px rgba(0, 0, 0, 0.7) !important;
    padding: 50px 50px;

    h1{
        font-size: 2.5rem;
        font-weight: 800;
        color: black;
    }

    h2{
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        color: black;
    }

    h5 {
        font-weight: 600;
    }
}

.link {
    text-decoration: none;
}
