.headerNotFound {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}

.himageNotFound {
  position: absolute;
  
  max-width: 50vw;
  height: auto;
  object-fit: fill;
  border-radius: 8px;
  opacity: 0.5;
  z-index: 1;
}

.intro-textNotFound {
  position : absolute;
  width: 200px;
  height: 100%;
  font-size: 1.3rem;
  color: #fffdfd;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 2;

  text-align: left;

  h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
  }
}